### basic operators

In [2]:
import keyword
#keyword.kwlist

In [ ]:
true
True

**arthemetic operators

In [2]:
a=10
b=20

In [3]:
a+b

30

In [4]:
a-b

-10

In [5]:
a*b

200

In [6]:
a/b

0.5

In [9]:
a//b

0

In [11]:
5%2

1

In [12]:
a**b #10^20=10*10*10....

100000000000000000000

**relational operators

In [13]:
a>b

False

In [14]:
a<b

True

In [15]:
a>=b

False

In [16]:
a<=b

True

In [17]:
a==b

False

In [18]:
a!=b

True

**logical operators

In [19]:
a=True
b=False

In [20]:
a and b

False

In [21]:
a or b

True

In [23]:
not b

True

In [35]:
a=True
b=False
not (a and b) # nand
not a or b # nor
a ^ b # xor
not a ^ b #xnor

False

 **bitwise operators

In [37]:
a=10
b=4

In [38]:
a&b #a=1010 & b=0100

0

In [39]:
a|b #a=1010 | b=0100 ==1110

14

In [44]:
~a #a=1010 + 1=-1011

-11

In [45]:
a>>2 #a=1010 >> 2= 0010-->2

2

In [46]:
a<< 3 #a=1010 << 3=01010000

80

**assignment operator

In [48]:
x=10

In [51]:
x+=1 #x=x+1
x

13

In [54]:
x-=1 #x=x-1
x

10

In [64]:
x*=2 #x=x*2
x

160.0

In [66]:
x=80 #x=x//4
x//=4
x

20

In [70]:
x=60 
x%=7 #x=x%7
x

4

**identity operators

In [72]:
b="kavitha"
c="kavitha"
d="kiran"

In [74]:
b is d

False

In [76]:
b is not d

True

**membership operators

In [79]:
'k' in b

True

In [80]:
'k' not in b

False

**conditional statementsm

In [82]:
if 'k' in b:
    print(True)

True

In [86]:
x=20
y=30
if x>y:
    print("x is bigger")
else:
    print('y is bigger')

y is bigger

In [89]:
x=20
y=30
z=30
if x==y:
    print( 'x is y')
elif y==z:
    print('y is z')
else:
    print('both are diffrent')

y is z

In [95]:
x=20
y=30
z=40
if x<y:
    if y==z:
        print(True)
    else:
        print("y in not z")
else:
    print(False)

y in not z