
# Today topics:

# Functional Programming
###  Lambda()
### filter()
###  Map()
### reduce()

# Lambda():

### Lambda():
- It is a Ananymous Functions : Function without name
- The lamba is a operator or lambda function is a way to create small anonymus functions.
- These functions are throw away functions i.e.., they are just needed where they have been created
- Mainly it was used in maps(),filter(),reduce()

In [3]:
## normal addition program
20+30

50

In [5]:
# with function addition program
def sample(a,b):
    return a+b
sample(20,30)

50

In [12]:
type(sample)

function

In [6]:
# with using lambda function

add=lambda a,b : a+b

In [8]:
add(20,30)

50

In [13]:
lambda c,d : c+d  # lambda itself returns a function object

In [11]:
type(add)

function

In [9]:
add1=20+30
add1

50

In [10]:
type(add1)

int

In [14]:
2**3

8

In [15]:
power= lambda l,m:l**m
power(2,3)

8

### using "if else " in lambda function

In [16]:
def fun2(g):
    if g>100 and g< 250:
        return True
    else:
        return False
fun2(180)

True

In [18]:
fun2(176)

True

In [19]:
fun2(36)

False

In [24]:
g1=lambda e:True if(e >100 and e <250) else False

In [25]:
g1(180)

True

### Without using "if else" with lambda function

In [32]:
g2=lambda f:f >29 and f <36

In [33]:
g2(35)

True

In [34]:
g2(32)

True

In [35]:
g2(21)

False

## Map() ,Filter(),Reduce()

- ***map()***:Applies a given function to all iterables and returns a new list
- syn: 
- map(fun,iterables)
- map(fun,*iterables)

- Here Iterables are two types
    - User defined
    - using lambda

### using User defined

In [42]:
# using User defined
def new(a):
    return a*a
x=map(new,[1,2,3,4,5,6,7])
#x=map(new,[1,2,3,4,5,6,7])
#x=map(new,[1,2,3,4,5,6,7)
print(x)  # object is return
print(list(x))
#print(tuple(x))
#print(set(x))

<map object at 0x000002062B1EDE80>
[1, 4, 9, 16, 25, 36, 49]

### Using multiple Iterables

In [52]:
# Using multiple Iterables
def new1(a,b):
    return a*b    
y=map(new1,[1,2,3,4,5,6,7],[2,3,4,5,6,7,8])
print(list(y))

[2, 6, 12, 20, 30, 42, 56]

### Lambda with map() function

In [60]:
lists=[1,2,3,4,5]
x=list(map(lambda x:x+3,lists))
y=tuple(map(lambda x:x+3,lists))
z=set(map(lambda x:x+3,lists))
print(x)
print(y)
print(z)

[4, 5, 6, 7, 8]
(4, 5, 6, 7, 8)
{4, 5, 6, 7, 8}

## Filter()
- Filter creates an output list consisting of values for which the fuction returns True
- Syn:
- filter(function,Iterables)

In [67]:
def new1(i):
    if i>3:
        return j
j=filter(new1,(1,2,3,4,5,6,7))
print(j)
print(list(j))
#print(tuple(j))
#print(set(j))

<filter object at 0x000002062B157240>
[4, 5, 6, 7]

### Filter with Lambda

In [72]:
z1=filter(lambda x: x>3,(1,2,3,4,5,6,7))
print(list(z1))

[4, 5, 6, 7]

# Reduce
- It Applies a given function to the iterables and returns a single value
- Syn:
- reduce(function,iterables)

In [79]:
from functools import reduce
def a(x,y):
    return x*y
s=reduce(a,[1,2,3,4,5,6,7,8])
print(s)

40320

In [ ]:
# filter with map
# map with filter
# map and  filter with reduce

In [ ]:
### TASK 1. ["indupriya","Lucky","mouni","Rani","arun",Narayana] Using  map 
o/p:["INDUPRIYA","LUCKY","MOUNI","RANI","ARUN","NARAYANA"]
    
    
### TASK 2. [1.56,2.45,6.787979,2.23435]
O/P: [1,2,7,2] -ROUND VALUES
    
### TASK3 (using zip)
Name=["indu","priya","Lucky","mouni"]
desig=["Technical skill Trainer","DBA","Front end Developer"]
o/p:
{"indu":"Technical skill Trainer","priya":"DBA","mouni":"Front end Developer"}


### TASK4(without using zip)
Name=["indu","priya","Lucky","mouni"]
desig=["Technical skill Trainer","DBA","Front end Developer"]
o/p:
{"indu":"Technical skill Trainer","priya":"DBA","mouni":"Front end Developer"}


### Task5

scores=[66,90,39,28,678,890,293918,990,0]
o/p=[678,890,293918,990]