### Pandas
* Pandas is open source library that allows to perform data manipulation(Series,DataFrames)
* Derived from PANel Data
### why we use pandas
* to handle missing data
* efficient way to slice data
* flexible way to merge,concatenate and reshape data
### Data Structures
* Series
* DataFrame

In [1]:
import pandas as pd

### Series
* It is One dimensional data

In [2]:
print(pd.Series([4,5,6,7,8,9]))

0    4
1    5
2    6
3    7
4    8
5    9
dtype: int64

In [3]:
print(pd.Series([1,2,"vidya"],index=[1,2,3]))

1        1
2        2
3    vidya
dtype: object

In [5]:
print(pd.Series([[1,2,3],[4,5,6]]))

0    [1, 2, 3]
1    [4, 5, 6]
dtype: object

In [6]:
d=pd.Series(["vidya",28,"cse",1,2],index=[1,2,3,4,5])

In [7]:
d

1    vidya
2       28
3      cse
4        1
5        2
dtype: object

In [8]:
d

1    vidya
2       28
3      cse
4        1
5        2
dtype: object

In [10]:
d[:]

1    vidya
2       28
3      cse
4        1
5        2
dtype: object

In [11]:
d[0:]

1    vidya
2       28
3      cse
4        1
5        2
dtype: object

In [12]:
d[:3]

1    vidya
2       28
3      cse
dtype: object

In [14]:
d

1    vidya
2       28
3      cse
4        1
5        2
dtype: object

In [20]:
d[1]

'vidya'

In [16]:
d1=pd.Series([1,2,3,4])

In [17]:
d1

0    1
1    2
2    3
3    4
dtype: int64

In [18]:
d1[:3]

0    1
1    2
2    3
dtype: int64

In [19]:
d1[0]

1

In [26]:
#cube values
'''o/p: 1  1
        2  8
        3  27
        4 64
        5  125'''
d2=pd.Series([i**3 for i in range(1,6)],index=[1,2,3,4,5])

In [27]:
d2

1      1
2      8
3     27
4     64
5    125
dtype: int64

In [29]:
n=int(input())
s=[i**3 for i in range(1,n+1)]
index=[j for j in range(1,n+1)]
pd.Series(s,index)

6

1      1
2      8
3     27
4     64
5    125
6    216
dtype: int64

### DataFrame
* two dimensional array

In [32]:
#using List
df=[["vidya","28","civil"],["anu","40","cse"]]
df1=pd.DataFrame(df,columns=['Name',"Rollnumber","Branch"],index=[1,2])

In [33]:
df1

    Name Rollnumber Branch
1  vidya         28  civil
2    anu         40    cse

In [40]:
#using dictionary
a1={"name":"pavani","clg":"aditya","branch":"cse","rollno":528}
a2={"name":"ambika","clg":"PVP","branch":"ECE"}
a3={"name":"archana","clg":"GEC","branch":"civil"}
s=pd.DataFrame([a1,a2,a3],index=[1,2,3])

In [43]:
s.head()

  branch     clg     name  rollno
1    cse  aditya   pavani   528.0
2    ECE     PVP   ambika     NaN
3  civil     GEC  archana     NaN

In [44]:
#using dictionary and list
s1=pd.DataFrame({"name":["sree","vidya"],"org":["APSSDC","JNTUK"]},index=["a1","a2"])

In [45]:
s1

     name     org
a1   sree  APSSDC
a2  vidya   JNTUK

In [ ]:
#loc--->To give index data
#iloc-->To give index value

In [47]:
s1.loc['a1']

name      sree
org     APSSDC
Name: a1, dtype: object

In [50]:
s1.loc[0]

TypeError: cannot do label indexing on <class 'pandas.core.indexes.base.Index'> with these indexers [0] of <class 'int'>

In [48]:
s.loc[1]

branch       cse
clg       aditya
name      pavani
rollno       528
Name: 1, dtype: object

In [49]:
s1.iloc[0]

name      sree
org     APSSDC
Name: a1, dtype: object

In [51]:
s

  branch     clg     name  rollno
1    cse  aditya   pavani   528.0
2    ECE     PVP   ambika     NaN
3  civil     GEC  archana     NaN

In [52]:
s.loc[0]

KeyError: 0

In [53]:
s.iloc[0]

branch       cse
clg       aditya
name      pavani
rollno       528
Name: 1, dtype: object

In [54]:
s.loc[2]

branch       ECE
clg          PVP
name      ambika
rollno       NaN
Name: 2, dtype: object

In [55]:
s1

     name     org
a1   sree  APSSDC
a2  vidya   JNTUK

In [56]:
s1["gender"]="female"

In [57]:
s1

     name     org  gender
a1   sree  APSSDC  female
a2  vidya   JNTUK  female

In [58]:
s1.T

            a1      a2
name      sree   vidya
org     APSSDC   JNTUK
gender  female  female

In [59]:
s1.T.loc["org"]

a1    APSSDC
a2     JNTUK
Name: org, dtype: object

In [60]:
s1.T.iloc[2]

a1    female
a2    female
Name: gender, dtype: object

In [63]:
import pandas as pd
filepath="income.csv"
d=pd.read_csv(filepath)
d

,GEOID,State,2005,2006,2007,2008,2009,2010,2011,2012,2013
0,04000US01,Alabama,37150,37952,42212,44476,39980,40933,42590,43464,41381
1,04000US02,Alaska,55891,56418,62993,63989,61604,57848,57431,63648,61137
2,04000US04,Arizona,45245,46657,62993,46914,45739,46896,48621,47044,50602
3,04000US05,Arkansas,36658,37057,40795,39586,36538,38587,41302,39018,39919
4,04000US06,California,51755,55319,55734,57014,56134,54283,53367,57020,57528

In [65]:
#to print single columns data
# GEOID State 2005 2006 2007 2008 2009 2010 2011 2012 2013
for i in d.keys():
    print(i,end=" ")

GEOID State 2005 2006 2007 2008 2009 2010 2011 2012 2013

In [66]:
for i in d.values:
    print(i)

['04000US01' 'Alabama' 37150 37952 42212 44476 39980 40933 42590 43464
 41381]
['04000US02' 'Alaska' 55891 56418 62993 63989 61604 57848 57431 63648
 61137]
['04000US04' 'Arizona' 45245 46657 62993 46914 45739 46896 48621 47044
 50602]
['04000US05' 'Arkansas' 36658 37057 40795 39586 36538 38587 41302 39018
 39919]
['04000US06' 'California' 51755 55319 55734 57014 56134 54283 53367 57020
 57528]

In [72]:
for i in d.values:
    print(i[1],":",i[9])

Alabama : 43464
Alaska : 63648
Arizona : 47044
Arkansas : 39018
California : 57020