**Loops

**while loop

In [5]:
n=int(input())
n1=float(input())

40
10.0
nani

In [13]:
n2=input()

60.0

In [14]:
n2

'60.0'

In [19]:
n=7
while n>1:
    print(n,end=" ")
    n-=1

7 6 5 4 3 2

In [20]:
n=int(input())
while n>1:
    if n%2==0:
        print(n)
    n-=1

20
20
18
16
14
12
10
8
6
4
2

In [42]:
n=int(input())
i=int(input())
while n<=i:
    if n%2==0:
        print(n,end=" ")
    n+=1

1
20
2 4 6 8 10 12 14 16 18 20

In [30]:
n=int(input())
i=1
while n>=1:
    i*=n #i=i*n
    print(n,end="*")
    n-=1 #n=n-1
print("=",i)

5
5*4*3*2*1*= 120

**for loop

In [4]:
for i in range(1,10+1):
    print(i,end=" ")

1 2 3 4 5 6 7 8 9 10

In [3]:
for i in range(1,20,3):
    print(i,end=" ")

1 4 7 10 13 16 19

In [5]:
for i in range(10,0,-1):
    if i%2!=0:
        print(i,end=" ")

9 7 5 3 1

In [46]:
j=0
for i in "kavithRani":
    j=j+1
    if i=='h':
        break
    print(i,end=" ")
print(j)

k a v i t 6

In [48]:
j=0
for i in "kavithhRani":
    j=j+1
    if i=='h':
        continue
    print(i,end=" ")
print(j)

k a v i t R a n i 11

In [4]:
for i in range(1,20):
    if i==5:
        continue
    print(i,end=" ")

1 2 3 4 6 7 8 9 10 11 12 13 14 15 16 17 18 19

In [50]:
n=4
while n>1:
    if n==2:
        break
    print(n)
    n=n-1

4
3

In [3]:
n=20
while n>1:
    n=n-1
    if n==7:
        continue
    print(n,end=" ")

19 18 17 16 15 14 13 12 11 10 9 8 6 5 4 3 2 1

In [ ]:
n=input()
type(n)

In [2]:
n=20
print(n,end=" ")
while n>1:
    n=n-1
    if n==5:
        continue
    print(n,end=" ")

20 19 18 17 16 15 14 13 12 11 10 9 8 7 6 4 3 2 1

In [2]:
n=int(input())
while(n>=1):
    if(n==7):
        n=n-1
        continue
    else:
        print(n,end=" ")
    n=n-1

20
20 19 18 17 16 15 14 13 12 11 10 9 8 6 5 4 3 2 1

In [1]:
n=20
while 1<n:
    if n==7:
        n-=1
        continue
    print(n,end=" ")
    n=n-1

20 19 18 17 16 15 14 13 12 11 10 9 8 6 5 4 3 2

In [11]:

n=int(input())
for i in range (1,11):
    print(n, '×', i, '=' , n*i)

5
5 × 1 = 5
5 × 2 = 10
5 × 3 = 15
5 × 4 = 20
5 × 5 = 25
5 × 6 = 30
5 × 7 = 35
5 × 8 = 40
5 × 9 = 45
5 × 10 = 50