In [3]:
n=input()

1 2 3 4

In [4]:
type(n)

str

In [2]:
n1=int(input())

12

In [1]:
n2=float(input())

12.0

In [2]:
n2

12.0

**loops

**for loop

In [10]:
for i in range(20+1):
    print(i,end=" ")

0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20

In [11]:
for i in range(1,21):
    print(i,end=" ")

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20

In [18]:
for i in range(1,21,3):
    print(i,end=" ")

1 4 7 10 13 16 19

In [25]:
for i in range(21,0,-3):
    print(i,end=" ")

21 18 15 12 9 6 3

In [30]:
for i in range(1,21):
    if i%2==0:
        print(i)
    else:
        print("odd")

IndentationError: expected an indented block (<ipython-input-30-3fa675d679bd>, line 4)

In [35]:
i=0
for j in "gotomeetingbgjhvghvcghfvguyfvtgfvtgfvghfvgh":
    i+=1
    print(j,end=" ")
print('\n',i)

g o t o m e e t i n g b g j h v g h v c g h f v g u y f v t g f v t g f v g h f v g h
 43

In [41]:
n=int(input())
count=0
for i in range(1,n):
    if n%i==0:
        count+=1
if count==1:
    print(n,"is prime")
else:
    print(n,"is not a prime")

13
13 is prime

In [46]:
n=int(input())
for i in range(1,n+1):
    for j in range(1,i+1):
        print("*",end=" ")
    print('\n')

5
*

* *

* * *

* * * *

* * * * *

**while loop

In [50]:
n=int(input())
while n>=1:
    print(n,end=" ")
    n-=1

15
15 14 13 12 11 10 9 8 7 6 5 4 3 2 1

In [51]:
n=int(input())
while n>=1:
    if n%2==0:
        print(n,end=" ")
    n-=1

20
20 18 16 14 12 10 8 6 4 2

In [53]:
n=int(input())
j=1
while n>1:
    j*=n #J=J*n
    n-=1 #n=n-1
print(j)#6*5*4*3*2

6
720

In [55]:
n=int(input())
while n>=1:
    if n==6:
        break
    print(n,end=" ")
    n-=1

20
20 19 18 17 16 15 14 13 12 11 10 9 8 7

In [62]:
count=0
for i in "kavithaRani":
    if i=='a':
        count+=1
    if count==2:
        break
    print(i,end=" ")

k a v i t h

In [65]:
for i in "kavithaRani":
    if i=="R":
        continue
    print(i,end=" ")

k a v i t h a a n i

In [5]:
n=int(input())
print(n,end=" ")
while n>=1:
    n-=1
    if n==6:
        continue
    print(n,end=" ")

20
20 19 18 17 16 15 14 13 12 11 10 9 8 7 5 4 3 2 1 0

In [7]:
n=int(input())
for i in range(1,11):
    print(n,'X',i,"=",n*i)

123
123 X 1 = 123
123 X 2 = 246
123 X 3 = 369
123 X 4 = 492
123 X 5 = 615
123 X 6 = 738
123 X 7 = 861
123 X 8 = 984
123 X 9 = 1107
123 X 10 = 1230

In [16]:
s={1,2,(4,3),5,2,'ani'}

In [22]:
print(dir(set))

['__and__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__iand__', '__init__', '__init_subclass__', '__ior__', '__isub__', '__iter__', '__ixor__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__rand__', '__reduce__', '__reduce_ex__', '__repr__', '__ror__', '__rsub__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__xor__', 'add', 'clear', 'copy', 'difference', 'difference_update', 'discard', 'intersection', 'intersection_update', 'isdisjoint', 'issubset', 'issuperset', 'pop', 'remove', 'symmetric_difference', 'symmetric_difference_update', 'union', 'update']

In [23]:
s.update({'honey'})

In [25]:
s.update([9,11])

In [31]:
s.update([20,115],s)

In [32]:
s

{(4, 3), 1, 11, 115, 15, 2, 20, 5, 9, 'ani', 'honey'}

In [29]:
d={11,10,20,2,1,5,9}

In [30]:
d

{1, 2, 5, 9, 10, 11, 20}

In [37]:
a={1,2,3,4}
b={"roy","ram","red","rin",12}

In [39]:
m=b|a

In [40]:
m

{1, 12, 2, 3, 4, 'ram', 'red', 'rin', 'roy'}

In [41]:
a.add(12)
a

{1, 2, 3, 4, 12}

In [42]:
m.clear()

In [43]:
m

set()

In [45]:
m=a.copy()

In [48]:
m.update({4,9,8,7})

In [49]:
m

{1, 2, 3, 4, 7, 8, 9, 12}

In [51]:
m.difference_update(a)

In [52]:
m

{7, 8, 9}

In [53]:
m.discard(8)

In [54]:
m

{7, 9}

In [55]:
a.intersection(d)

{1, 2}

In [58]:
a.isdisjoint(d)

False

In [67]:
print(d.issubset(a))
print(d.issuperset(a))
#d.update(a)
print(a)
print(d)

False
True
{1, 2, 3, 4, 12}
{1, 2, 3, 4, 5, 9, 10, 11, 12, 20}

In [70]:
d.pop()
d.remove(20)

In [71]:
d

{3, 4, 5, 9, 10, 11, 12}

In [74]:
a.symmetric_difference(d)

{1, 2, 5, 9, 10, 11}

In [76]:
a.add(11)
a

{1, 2, 3, 4, 11, 12, 115}

In [1]:
a1=[1,2,3,4,5]
a2=["app","ram","sim","Data"]

In [2]:
d1=zip(a1,a2)

In [13]:
d1=dict(zip(a2,a1))

In [19]:
d1['app']

1

In [11]:
print(dir(dict))

['__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']

In [29]:
d1.update({"key":5})

In [30]:
d1

{'app': 1, 'ram': 2, 'sim': 3, 'Data': 4, 'key': 5}

In [32]:
d1.values()

dict_values([1, 2, 3, 4, 5])

In [33]:
d1.keys()

dict_keys(['app', 'ram', 'sim', 'Data', 'key'])

In [37]:
d1.setdefault('core',"i5")

'i5'

In [38]:
d1

{'app': 1, 'ram': 2, 'sim': 3, 'Data': 4, 'key': 5, 'core': 'i5'}

In [39]:
d1.popitem()

('core', 'i5')

In [40]:
d1

{'app': 1, 'ram': 2, 'sim': 3, 'Data': 4, 'key': 5}

In [44]:
d1.pop('key')

5

In [45]:
d1

{'app': 1, 'ram': 2, 'sim': 3, 'Data': 4}

In [47]:
d1.items()

dict_items([('app', 1), ('ram', 2), ('sim', 3), ('Data', 4)])

In [55]:
print(d1.get('Data'))

4

In [64]:
d2={}
d2.fromkeys(["jhony","honey"],(1,2,3))

{'jhony': (1, 2, 3), 'honey': (1, 2, 3)}

In [59]:
d1

{'app': 1, 'ram': 2, 'sim': 3, 'Data': 4}

In [65]:
d2.clear()
d2

{}

In [67]:
d2=d1.copy()

In [68]:
d2

{'app': 1, 'ram': 2, 'sim': 3, 'Data': 4}

In [69]:
import sys
sys.path

['C:\\Users\\Kiran\\Desktop\\July-Online-pythonclasses',
 'C:\\ProgramData\\Anaconda3\\python37.zip',
 'C:\\ProgramData\\Anaconda3\\DLLs',
 'C:\\ProgramData\\Anaconda3\\lib',
 'C:\\ProgramData\\Anaconda3',
 '',
 'C:\\ProgramData\\Anaconda3\\lib\\site-packages',
 'C:\\ProgramData\\Anaconda3\\lib\\site-packages\\win32',
 'C:\\ProgramData\\Anaconda3\\lib\\site-packages\\win32\\lib',
 'C:\\ProgramData\\Anaconda3\\lib\\site-packages\\Pythonwin',
 'C:\\ProgramData\\Anaconda3\\lib\\site-packages\\IPython\\extensions',
 'C:\\Users\\Kiran\\.ipython']

In [2]:
import calendar as cal
#help(cal)
import time as t
#help(t)
dir(cal)

['Calendar',
 'EPOCH',
 'FRIDAY',
 'February',
 'HTMLCalendar',
 'IllegalMonthError',
 'IllegalWeekdayError',
 'January',
 'LocaleHTMLCalendar',
 'LocaleTextCalendar',
 'MONDAY',
 'SATURDAY',
 'SUNDAY',
 'THURSDAY',
 'TUESDAY',
 'TextCalendar',
 'WEDNESDAY',
 '_EPOCH_ORD',
 '__all__',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '_colwidth',
 '_locale',
 '_localized_day',
 '_localized_month',
 '_spacing',
 'c',
 'calendar',
 'datetime',
 'day_abbr',
 'day_name',
 'different_locale',
 'error',
 'firstweekday',
 'format',
 'formatstring',
 'isleap',
 'leapdays',
 'main',
 'mdays',
 'month',
 'month_abbr',
 'month_name',
 'monthcalendar',
 'monthlen',
 'monthrange',
 'nextmonth',
 'prcal',
 'prevmonth',
 'prmonth',
 'prweek',
 'repeat',
 'setfirstweekday',
 'sys',
 'timegm',
 'week',
 'weekday',
 'weekheader']

In [91]:
#cal.prcal(2016)
#cal.prmonth(2015,6)
cal.weekday(1994,6,4)

5

In [97]:
import time as t
#t.time_ns()
t.time()

1595304911.2387114

In [98]:
t.clock()

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning: time.clock has been deprecated in Python 3.3 and will be removed from Python 3.8: use time.perf_counter or time.process_time instead
  """Entry point for launching an IPython kernel.

5042.220239172

In [101]:
time.todayime()

NameError: name 'time' is not defined