In [ ]:
### TASK 1. ["indupriya","Lucky","mouni","Rani","arun",Narayana] Using  map 
o/p:["INDUPRIYA","LUCKY","MOUNI","RANI","ARUN","NARAYANA"]
    
    
### TASK 2. [1.56,2.45,6.787979,2.23435]
O/P: [1,2,7,2] -ROUND VALUES
    
### TASK3 (using zip)
Name=["indu","priya","Lucky","mouni"]
desig=["Technical skill Trainer","DBA","Front end Developer"]
o/p:
{"indu":"Technical skill Trainer","priya":"DBA","mouni":"Front end Developer"}


### TASK4(without using zip)
Name=["indu","priya","Lucky","mouni"]
desig=["Technical skill Trainer","DBA","Front end Developer"]
o/p:
{"indu":"Technical skill Trainer","priya":"DBA","mouni":"Front end Developer"}


### Task5

scores=[66,90,39,28,678,890,293918,990,0]
o/p=[678,890,293918,990]

In [ ]:
### TASK 1. ["indupriya","Lucky","mouni","Rani","arun","Narayana"] Using  map 
o/p:["INDUPRIYA","LUCKY","MOUNI","RANI","ARUN","NARAYANA"]

In [3]:
### TASK 1. ["indupriya","Lucky","mouni","Rani","arun","Narayana"]

names=["indupriya","Lucky","mouni","Rani","arun","Narayana"]
names1=list(map(str.upper,names))
print(names1)

['INDUPRIYA', 'LUCKY', 'MOUNI', 'RANI', 'ARUN', 'NARAYANA']

In [8]:
### TASK 2. [1.56,2.45,6.787979,2.23435,56,90,4546]  -->round 

## round,ceil,floor


# ceil= 20.5  -->21(here . after value is any value it treatsnext value )

# floor= 20.5 --> 20(here . after value is any value it treats same value 

# round = 20.5-->21(here . after value is equal to or more it treats same value)

circle= [1.56,2.45,6.787979,2.23435,56,90,4546]
result=map(round,circle)
print(list(result))

[2, 2, 7, 2, 56, 90, 4546]

In [15]:
### TASK3 (using zip)
#Name=["indu","priya","Lucky","mouni"]
#desig=["Technical skill Trainer","DBA","Front end Developer"]
#o/p:
#{"indu","Technical skill Trainer","priya","DBA","mouni","Front end Developer"}

Name=["indu","priya","Lucky","mouni"]
desig=["Technical skill Trainer","DBA","Front end Developer"]

results=zip(Name,desig)
print(list(results))

[('indu', 'Technical skill Trainer'), ('priya', 'DBA'), ('Lucky', 'Front end Developer')]

In [18]:
### TASK4(without using zip)
#Name=["indu","priya","Lucky","mouni"]
#desig=["Technical skill Trainer","DBA","Front end Developer"]
#o/p:
#{"indu":"Technical skill Trainer","priya":"DBA","mouni":"Front end Developer"}


Name=["indu","priya","Lucky","mouni"]
desig=["Technical skill Trainer","DBA","Front end Developer"]
results1=map(lambda x,y:(x,y),Name,desig)
print(list(results1))

[('indu', 'Technical skill Trainer'), ('priya', 'DBA'), ('Lucky', 'Front end Developer')]

In [23]:
# Task 5
scores=[66,90,39,28,678,890,293918,990,0]
#o/p=[678,890,293918,990]
def sample(scores):
    return scores>500
result3=list(filter(sample,scores))
print((result3))

[678, 890, 293918, 990]

In [27]:
# filter with map
#[2,3,4,5,6,7,8,9]
c=map(lambda x:x+x,filter(lambda x:(x>4),[2,3,4,5,6,7,8,9]))
list(c)
# map with filter
# map and  filter with reduce

[10, 12, 14, 16, 18]

In [28]:
# map with filter
# [2,3,4,5,6,7,8,9]
c1=filter(lambda x:(x>4),map(lambda x:x+x,[2,3,4,5,6,7,8,9]))
print(list(c1))

[6, 8, 10, 12, 14, 16, 18]

In [30]:
# map and  filter with reduce
from functools import reduce
c2=reduce(lambda x,y:x+y,map(lambda x:x+x,filter(lambda x:(x>4),[2,3,4,5,6,7,8,9])))
print(c2)

70

In [ ]:
# reduce explanation

#[5,6,7,8,9]  # filter
#[10,12,14,16,18] map
#10+12=22 # reduce
#22+14=36
#36+16=52
#52+18=70 # final o/p